.iconFullScreen {
  margin: 0 auto;
  height: 48px;
  width: 48px;
  grid-area: rightSide;
  background: url("../../../../styles/images/fullscreen-open.png");
  border: none;
}

.iconFullScreen:hover {
  cursor: pointer;
}
.fullScreenActive {
  background: url("../../../../styles/images/fullscreen-close.png") !important;
  height: 32px;
  width: 32px;

}
