.Alert__icon {
  background: url("../../../../../../../styles/images/icon-success-24.png");
  width: 24px;
  height: 24px;
  grid-area: icon;
  margin: 50% auto;
}

.Alert__icon_err {
  background: url("../../../../../../../styles/images/icon-error-24.png");
}
