.Game {
    position: relative;
}

.Pause {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: all 1s;
    & > :nth-child(1n) {
        border-radius: 9999px;
        transition: all 0.3s;
    }
    &:hover {
        & > :nth-child(1n) {
            fill: var(--color-pink);
        }
    }
}

.Ball {
    position: absolute;
    top: 292px;
    left: 50%;
}
