.Game {
    position: relative;
}

.Port {
    margin-right: 40px;
}

.Life {
    display: flex;
    align-items: center;
    width: 125px;
    & > :nth-child(1n) {
        margin-right: 5px;
    }
}

.Count {
    margin-left: 30px;
}

.Pause {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: all 1s;
    & > :nth-child(1n) {
        border-radius: 9999px;
        transition: all 0.3s;
    }
    &:hover {
        & > :nth-child(1n) {
            fill: var(--color-pink);
        }
    }
}

.Healt {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 20px;
    top: 20px;
}

.Ball {
    position: absolute;
    top: 292px;
    left: 50%;
}
