.content__wrap {
  width: 85%;
  height: 40%;
  margin-top: 1rem;
}

.content__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0 0.5rem 2rem;
  font-size: 12px;
}

.content__text {
  margin-left: 1rem;
}
