.Alert__wrapper {
  color: #0a0a0a;
  width: 400px;
  height: 75px;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  background: rgba(131, 241, 177, 0.62);
  display: grid;
  grid-template-areas: 'icon box btn_success btn_error';
  grid-auto-columns: 45px 1fr 1fr;
}
.Alert__error {
  background: rgba(248, 2, 2, 0.33);
}
