.FormContainer {
    max-width: 318px;
    margin: 50px 0;
    background-color: var(--color-black);
    padding: 25px;
    border-radius: 15px;


    fieldset {
        display: flex;
        flex-direction: column;
        & > * {
            margin: 10px 0;
        };
    }
}

.Controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
