.Spinner {
	z-index: 200;


	&__usual {
		animation: rotate 3s linear infinite;

		& .Spinner__circle {
			animation: dash 2s ease-in-out infinite;
		}
	}

	&__simple {
		animation: rotate 1s linear infinite;

		& .Spinner__circle {
			stroke-dasharray: 78.54% 315%;
		}
	}

	&__white {
		& .Spinner__circle {
			stroke: var(--color-white);
		}

		& .Spinner__simple,
		.Spinner__bgCircle {
			stroke: var(--color-white-darken);
		}
	}

	&__black {
		& .Spinner__circle {
			stroke: var(--color-black);
		}

		& .Spinner__simple,
		.Spinner__bgCircle {
			stroke: var(--color-white-darken);
		}
	}

	&__center {
		align-self: center;
		margin: 0 auto;
	}

	&__circle {
		stroke-linecap: round;
	}

}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 0%, 315%;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 157.5%, 315%;
		stroke-dashoffset: 0%;
	}

	100% {
		stroke-dasharray: 315%, 315%;
		stroke-dashoffset: -300%;
	}
}
