.ForumMain {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
    "leftSide content rightSide";
    grid-template-columns: 200px 1fr 200px;
  }
  
  .LeftSide {
    background-image: url("./src/styles/images/forum-left-side.svg");
    background-repeat: no-repeat;
    align-self: end;
    height: 199px;
    width: 220px;
    margin: 0 auto;
  }
  
  .RightSide {
    margin: 0 auto;
    background-image: url("./src/styles/images/casper.png");
    background-repeat: no-repeat;
    align-self: end;
    height: 175px;
    width: 174px;
  }
  
  .ForumWrapper {
    grid-area: content;
    display: grid;
    grid-template-areas:
    "header"
    "frame";
    grid-template-rows: 60px 1fr;
  }
  
  .ForumTitle {
    display: grid;
    grid-area: header;
    margin-bottom: 2%;
    font-size: 40px;
    font-weight: 700;
  }
  
  .ForumFrame {
    grid-area: frame;
    height: 75vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.27);
  
  }
  
  