.Navigate {
    width: 100%;
    display: flex;
    flex-direction: column;

    a {
        padding: 15px;
        padding-left: 55px;
        background-position: 10% center;
        background-repeat: no-repeat;
        border-left: 4px solid transparent;
        transition: all 0.2s;

        &.Active {
            background-color: var(--background-navigate);
            border-left: 4px solid var(--border-left-navigate);
        }

        &:hover {
            background-color: var(--background-navigate);
        }

        &.Home {
            background-image: url('../../../styles/images/start.svg');
        }

        &.Leaders {
            background-image: url('../../../styles/images/leaders.svg');
        }

        &.Profile {
            background-image: url('../../../styles/images/profile.svg');
        }

        &.Progress {
            background-image: url('../../../styles/images/progress.svg');
        }

        &.Forum {
            background-image: url('../../../styles/images/forum.svg');
        }
    }
}
